.screen {
    background-color: var(--white);
}

section#doc-list {
    max-width: 36%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#doc-list div:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 85%;
    height: 1px;
    background-color: var(--gray-tone);
}

#item-header {
    width: 22%;
    height: 100%;
}

.doc-cover {
    height: inherit;
    background-color: var(--black-inverse);
    font-size: var(--font-2xl);
}

#item-summary {
    width: 70%;
    text-align: start;
}

#item-summary .date {
    font-size: var(--font-s);
    color: var(--primary-tint);
}

#item-summary .title p {
    font-weight: 600;
    -webkit-line-clamp: 2 !important;
}

#item-summary .title p,
#item-summary .description p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    margin: 0;
    overflow: hidden;
}

#section-divider-vertical {
    height: inherit;
    width: 2px;
    background-color: var(--gray-tone);
}

.btn-icon {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    margin-top: var(--s);
    margin-left: -16px;
    border-radius: 50%;
    background-color: var(--white);
    -webkit-box-shadow: 5px 5px 22px -15px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 5px 5px 22px -15px rgba(0, 0, 0, 0.8);
    box-shadow: 5px 5px 22px -15px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    transition: all 300ms ease-out;
}

.btn-icon:hover {
    transform: scale(1.1);
    -webkit-box-shadow: 4px 5px 1px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 4px 5px 1px 0px rgba(0, 0, 0, 1);
    box-shadow: 4px 5px 1px 0px rgba(0, 0, 0, 1);
}
