@font-face {
    font-family: "Playfair-Regular";
    src: local("Playfair-Regular") url("@/assets/fonts/PlayfairDisplay-Regular.woff2") format("woff2");
}

:root {
    /* Font Family */
    --playfair: "Playfair-Regular", serif; /* used for titles */

    /* Font size */
    --font-xs: 0.75rem; /* 12px */
    --font-s: 0.875rem; /* 14px */
    --font-m: 1rem; /* 16px */
    --font-lg: 1.25rem; /* 20px */
    --font-xl: 2.125rem; /* 32px */
    --font-2xl: 3.25rem; /* 52px */

    /* Spacing */
    --xs: 4px;
    --s: 0.5rem;
    --m: 1rem;
    --lg: 1.5rem;
    --xl: 2rem;
    --2xl: 3rem; /* 48px */
    --3xl: 5rem; /* 80px */

    /* Colors */
    --white: #fff;
    --black: #1c1c1e;
    --black-inverse: #e3e3e1;
    --gray: #ccc;

    /* Split-Complementary Palette */
    --primary: #71bc68; /* invert color #8e4397 */
    --secondary: #8968bc;
    --tertiary: #bc689b; /* or #B368BC*/

    --primary-tint: rgba(122, 152, 118, 0.85);

    /* Analogous Palette */
    /* --primary: #71BC68; */
    /* --secondary: #68BC89; */
    /* --tertiary: #9BBC68; */

    /* Default values */
    font-family: Roboto, sans-serif; /* used for ordinary text */
    font-size: var(--font-m);
    line-height: 1.1;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--black);
    background-color: var(--white);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-color: var(--secondary);
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

/* ================================ */
/*            POSITION              */
/* ================================ */
.relative {
    position: relative;
}

/* ================================ */
/*             FLEX              */
/* ================================ */
.flex {
    display: flex;
    flex-direction: row;
}

.flex.col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.gap-s {
    gap: var(--s);
}

.grow {
    flex-grow: 1;
}

.grow-0 {
    flex-grow: 0;
}

.shrink {
    flex-shrink: 1;
}

.shrink-0 {
    flex-shrink: 0;
}

/* ================================ */
/*             PADDING              */
/* ================================ */
.py-s {
    padding: var(--s) 0;
}

.py-m {
    padding: var(--m) 0;
}

.px-s {
    padding: 0 var(--s);
}

/* Seting custom width make bar customizable */
::-webkit-scrollbar {
    width: 0.8rem;
}

/* Scroll buttons */
::-webkit-scrollbar-button:single-button {
    background-color: var(--black-inverse);
    background-repeat: no-repeat;
    background-size: 0.5rem;
    background-position: 40%;
    background-blend-mode: darken;
    height: 1.6rem;
    width: 0.8rem;
}

/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgba(122, 152, 118, 0.85)'><polygon points='50,30 100,80 0,80'/></svg>");
}

/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgba(122, 152, 118, 0.85)'><polygon points='0,15 100,15 50,75'/></svg>");
}

::-webkit-scrollbar-button:hover {
    background-color: var(--gray);
}

/* Track */
::-webkit-scrollbar-track {
    background-color: var(--black-inverse);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: var(--primary-tint);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-tint);
}
